<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/reveal.css">
		<link rel="stylesheet" href="/css/theme.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/css/highlighting.css">
  </head>
  <body>
    <div class="reveal">
			<div class="slides">
				<%- page.body %>
				<% include _index %>
			</div>
		</div>

		<script src="/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'js/marked.js' },
					{ src: 'js/markdown.js' },
					{ src: 'js/notes.js', async: true },
					{ src: 'js/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
			Reveal.configure({ history: true, loop: true });
		</script>
  </body>
</html>
